@font-face {
    font-family: Tajawal;
    src: url("../../../assets/fonts/ArbFONTS-Tajawal-Medium.ttf");
}
*{
    font-family: 'Tajawal', sans-serif;
}
.card_16{
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 15px;
}
.card_16 img{
    width: 100%;
    height: 100%;
}
.card_16 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.card_16 .grid .left_grid{
    flex: 0 0 65%;
    max-width: 65%;
    position: relative;
}
.card_16 .grid .left_grid .card_data{
    position: absolute;
    top: 0%;
    right: 4%;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    direction: rtl;
}
.card_16 .grid .left_grid .card_data .logo{
    vertical-align: middle;
}
.card_16 .grid .left_grid .card_data .logo img{
    width: 130px;
    height: 150px;
}
.card_16 .grid .left_grid .card_data .g_inputs{
    vertical-align: middle;
    text-align: right;
}
.card_16 .grid .left_grid .card_data .g_inputs ul{
    padding: 0px;
}
.card_16 .grid .left_grid .g_inputs ul li:first-child{
    font-weight: bold;
    font-size: 35px;
    color: #000;
    letter-spacing: 1.5px;
}
.card_16 .grid .left_grid .g_inputs ul li:nth-child(2){
    font-weight: 600;
    font-size: 21px;
    color: #000;
    letter-spacing: 1.7px;
}

.card_16 .grid .left_grid .client_data{
    position: absolute;
    top: 34.5%;
    right: 22%;
    width: 88.5%;
    direction: rtl;
}
.card_16 .grid .left_grid  .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_16 .grid .left_grid  .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_16 .grid .left_grid  .client_data .data_list{
    flex: 0 0 95%;
    max-width: 95%;
    margin-top: 0px;
    overflow-wrap: break-word;
}
.card_16 .grid .left_grid  .client_data .data_list li{
    margin-bottom: 0px;
    height: 59px;
}
.card_16 .grid .left_grid  .client_data .data_list a{
    font-size: 20px;
    letter-spacing: 1px;
    color: rgba(26, 25, 25, 0.929);
}
.card_16 .grid .left_grid .slogan{
    position: absolute;
    top: 76%;
    right:15% ;
    font-size: 25px;
}

.card_16 .grid .left_grid .social_icons{
    position: absolute;
    right: 14%;
    bottom: 1%;
}
.card_16 .grid .left_grid .social_icons ul{
    padding:0px;
    margin-bottom: 0px;
}
.card_16 .grid .left_grid .social_icons ul li{
    display: inline-flex;
}
.card_16 .grid .left_grid .social_icons ul li a{
    font-size: 33px;
    color: #A12226;
    margin-right: 20px;
}

@media (min-width:290px) and (max-width:420px){
    .card_16 .grid .left_grid .card_data .logo img {
        width: 65px;
        height: 70px;
    }
    .card_16 .grid .left_grid .g_inputs ul li:first-child {
        font-size: 15px;
    }
    .card_16 .grid .left_grid .g_inputs ul li:nth-child(2) {
        font-size: 11px;
    }
    .card_16 .grid .left_grid .client_data .data_list a {
        font-size: 12px;
    }
    .card_16 .grid .left_grid .slogan {   
        font-size: 17px;
    }
    .card_16 .grid .left_grid .social_icons ul li a {
    font-size: 20px;
    margin-right: 8px;
    }
}

@media (min-width:420px) and (max-width:767.5px){
    .card_16 .grid .left_grid .card_data{
        top: 4%;
    }
    .card_16 .grid .left_grid .card_data .logo img {
        width: 75px;
        height: 120px;
    }
    .card_16 .grid .left_grid .g_inputs ul li:first-child {
        font-size: 22px;
    }
    .card_16 .grid .left_grid .g_inputs ul li:nth-child(2) {
        font-size: 14px;
    }
    .card_16 .grid .left_grid .client_data .data_list a {
        font-size: 15px;
    }
    .card_16 .grid .left_grid .slogan {   
        font-size: 19px;
    }
    .card_16 .grid .left_grid .social_icons ul li a {
    font-size: 25px;
    margin-right: 10px;
    }
}


