*{
    font-family: sans-serif;
}
.card_10_cont{
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 15px;
}
.card_10_cont img{
    width: 100%;
    height: 100%;
}
.card_10_cont .logo{
    position: absolute;
    top:2%;
    left: 0%;
    text-align: center;
    width: 37%;
}
.card_10_cont .logo img{
    width: 210px;
    height: 120px;
}
.card_10_cont .grid_1{
    text-align: center;
    position: absolute;
    top: 42%;
    left: 0%;
    width: 100%;
    display: flex;

}
.card_10_cont .grid_1 ul{
    padding: 0px;
    position: relative;
}
.card_10_cont .grid_1 .g_inputs{
    flex: 0 0 37%;
}
.card_10_cont .grid_1 .g_inputs ul li:first-child{
    font-size: 30px;
    font-weight: 700;
    color: #141E42;
    letter-spacing: 1.5px;
}
.card_10_cont .grid_1 .g_inputs ul li:nth-child(2){
    font-size: 22px;
    font-weight: 300;
    color: #141E42;
    letter-spacing: 1.5px;

}
.card_10_cont .grid_1 .g_inputs ul::after{
 content: "";
 position: absolute;
 top: 102%;
 left: 35%;
 width: 30%;
 height: 1.5px;
 background-color: #141E42;
}
.card_10_cont .grid_1 .slogan{
    font-size: 18px;
    letter-spacing: 1.5px;
}
.card_10_cont .social_icons{
    position: absolute;
    bottom: 0%;
    left: 1%;
    width: 38%;
}
.card_10_cont .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.card_10_cont .social_icons ul li{
    display: inline-flex;
    margin-right: 25px;
}
.card_10_cont .social_icons ul li a{
    font-size: 30px;
    color: #141E42;
}
.card_10_cont .client_data{
    position: absolute;
    top: -5%;
    left: 54%;
    width: 50%;
}
.card_10_cont .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.card_10_cont .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_10_cont .client_data .icon_list{
    flex: 0 0 10%;
    text-align: center;
    margin-right: 15px;
}

.card_10_cont .client_data .icon_list li{
    margin-bottom: 17.5px;
}
.card_10_cont .client_data .icon_list li i{
    color: #fff;
    font-size: 20px;
}
.card_10_cont .client_data .data_list{
    flex: 0 0 88%;
    max-width: 88%;
    margin-top: 0px;
    overflow-wrap: break-word;
}
.card_10_cont .client_data .data_list li{
    margin-bottom: 0px;
    height: 40px;
}

.card_10_cont .client_data .data_list a{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}



@media (min-width:300px) and (max-width:465px){
    .card_10_cont .logo img {
        width: 120px;
        height: 90px;
    }
    .card_10_cont .grid_1{
        text-align: center;
        position: absolute;
        top: 38%;
    }
    .card_10_cont .grid_1 .g_inputs ul li:first-child{
        font-size: 16px;
        letter-spacing: 1.2px;
    }
    .card_10_cont .grid_1 .g_inputs ul li:nth-child(2){
        font-size: 14px;
        letter-spacing: 1.2px;
    }
    .card_10_cont .grid_1 .slogan{
        font-size: 14px;
        letter-spacing: 1.2px;
    }
    .card_10_cont .social_icons{
        bottom: 4%;
        left: 3%;
    }
    .card_10_cont .social_icons ul li{
        margin-right: 5px;
    }
    .card_10_cont .social_icons ul li a{
        font-size: 16px;
    }
    .card_10_cont .client_data .data_list li{
        height: 33px;
    }
    .card_10_cont .client_data .icon_list li i{
        font-size: 14px;
    }
    .card_10_cont .client_data .data_list li{
        height: 40px;
    }
    .card_10_cont .client_data .data_list a{
        font-size: 10px;
        letter-spacing: .5px;
    }
}

@media (min-width:465px) and (max-width:767px){
    .card_10_cont .logo img {
        width: 150px;
        height: 90px;
    }
    .card_10_cont .grid_1{
        text-align: center;
        position: absolute;
        top: 38%;
    }
    .card_10_cont .grid_1 .g_inputs ul li:first-child{
        font-size: 17px;
        letter-spacing: 1.2px;
    }
    .card_10_cont .grid_1 .g_inputs ul li:nth-child(2){
        font-size: 15px;
        letter-spacing: 1.2px;
    }
    .card_10_cont .grid_1 .slogan{
        font-size: 15px;
        letter-spacing: 1.2px;
    }
    .card_10_cont .social_icons{
        bottom: 4%;
        left: 3%;
    }
    .card_10_cont .social_icons ul li{
        margin-right: 8px;
    }
    .card_10_cont .social_icons ul li a{
        font-size: 20px;
    }
    .card_10_cont .client_data .data_list li{
        height: 33px;
    }
    .card_10_cont .client_data .icon_list li i{
        font-size: 14px;
    }
    .card_10_cont .client_data .data_list li{
        height: 40px;
    }
    .card_10_cont .client_data .data_list a{
        font-size: 12px;
        letter-spacing: .5px;
    }
}


