
@font-face {
    font-family: Tajawal;
    src: url("../../../assets/fonts/ArbFONTS-Tajawal-Medium.ttf");
  }
.card_9{
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 15px;
    font-family: 'Tajawal', sans-serif;
}
.card_9 img{
    width: 100%;
    height: 100%;
}
.card_9 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.card_9 .grid .left_grid{
    flex: 0 0 39.5%;
    max-width: 39.5%;
    position: relative;
    overflow-wrap: break-word;
}
.card_9 .grid .left_grid .g_inputs{
    position: absolute;
    top: 12%;
    right: 0%;
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
}
.card_9 .grid .left_grid .g_inputs ul{
    padding: 0px;
    margin-bottom: 0px;
}
.card_9 .grid .left_grid .g_inputs ul li:first-child{
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #000;
}
.card_9 .grid .left_grid .logo{
    position: absolute;
    top: 35%;
    left: 0px;
    width: 100%;
    text-align: center;
}
.card_9 .grid .left_grid .logo img{
    width: 150px;
    height: 150px;
}

.card_9 .grid .left_grid .social_icons{
    position: absolute;
    right: 5%;
    bottom: 0%;
    text-align: right;
    width: 70%;
}
.card_9 .grid .left_grid .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}
.card_9 .grid .left_grid .social_icons ul li{
    margin-bottom: 10px;
}
.card_9 .grid .left_grid .social_icons ul li a{
    font-size: 25px;
    color:#ACACAC;
}
.card_9 .grid .right_grid{
    flex: 0 0 60.5%;
    max-width: 60.5%;
    position: relative;
}
.card_9 .grid .right_grid .slogan{
    position: absolute;
    top: 13%;
    right: 10%;
    text-align: right;
    width: 90%;
    overflow-wrap: break-word;
    color: #000;
    font-size: 24px;
    letter-spacing: 2px;
}

.card_9 .grid .right_grid .client_data{
    position: absolute;
    top: 39%;
    right: 0%;
    width: 99%;
    direction: rtl;
}
.card_9 .grid .right_grid .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_9 .grid .right_grid .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_9 .grid .right_grid .client_data .icon_list{
    flex: 0 0 10%;
    text-align: center;
    margin-left: 7px;
}

.card_9 .grid .right_grid .client_data .icon_list li{
    margin-bottom: 21px;
}
.card_9 .grid .right_grid .client_data .icon_list li img{
    width: 20px;
    height: 20px;
}
.card_9 .grid .right_grid .client_data .data_list{
    flex: 0 0 88%;
    max-width: 88%;
    margin-top: -2px;
    overflow-wrap: break-word;
}
.card_9 .grid .right_grid .client_data .data_list li{
    margin-bottom: 0px;
    height: 45px;
}

.card_9 .grid .right_grid .client_data .data_list a{
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #000000;
}

@media (min-width:290px) and (max-width:440px){
    .card_9 .grid .left_grid .g_inputs{
        top: 15%;
    }
    .card_9 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 17px;
    }
    .card_9 .grid .left_grid .logo img {
        width: 70px;
        height: 70px;
    }
    .card_9 .grid .left_grid .social_icons ul li a {
        font-size: 15px;
    }
    .card_9 .grid .right_grid .slogan{
        top: 15%;
        font-size: 13px;
        letter-spacing: 1.5px;
    }
    .card_9 .grid .right_grid .client_data .icon_list li img {
        width: 12px;
        height: 12px;
    }
    .card_9 .grid .right_grid .client_data .data_list li a{
        font-size: 11px;
    }
    
}

@media (min-width:440px) and (max-width:619px){
    .card_9 .grid .left_grid .g_inputs{
        top: 12%;
    }
    .card_9 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 24px;
    }
    .card_9 .grid .left_grid .logo img {
        width: 100px;
        height: 100px;
    }
    .card_9 .grid .left_grid .social_icons ul li a {
        font-size: 19px;
    }
    .card_9 .grid .right_grid .slogan{
        top: 13%;
        font-size: 18px;
        letter-spacing: 1.5px;
    }
    .card_9 .grid .right_grid .client_data .icon_list li img {
        width: 14px;
        height: 14px;
    }
    .card_9 .grid .right_grid .client_data .data_list li a{
        font-size: 14px;
    }
    
}

