*{
    font-family: 'Times New Roman', Times, serif;
}
.card_19{
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid rgb(199, 196, 196);
}
.card_19 img{
    width: 100%;
    height: 100%;
}
.card_19 .grid{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}
.card_19 .grid .details_grid{
    flex: 0 0 60%;
    max-width: 60%;
}
.card_19 .grid .details_grid .g_inputs{
    position: absolute;
    top: 12%;
    left: 14%;
    text-align: left;
}
.card_19 .grid .details_grid .g_inputs ul{
    padding: 0px;
}
.card_19 .grid .details_grid .g_inputs ul li:first-child{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
}
.card_19 .grid .details_grid .g_inputs ul li:nth-child(2){
    font-size: 22px;
    letter-spacing: 2px;
}
.card_19 .grid .details_grid .slogan{
    position: absolute;
    top: 35%;
    left: 14%;
    text-align: left;
    font-size: 22px;
}
.card_19 .grid .details_grid .slogan::after{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1.7px;
    background-color: rgba(0,0,0,.5);
}
.card_19 .grid   .client_data{
    position: absolute;
    top: 46.8%;
    left: 12.5%;
    width: 47%;
}
.card_19 .grid   .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.card_19 .grid   .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_19 .grid   .client_data .icon_list{
    flex: 0 0 5%;
    text-align: center;
    margin-right: 5px;
}

.card_19 .grid   .client_data .icon_list li{
    margin-bottom: 18px;
}
.card_19 .grid   .client_data .icon_list li img{
    width: 25px;
    height: 25px;
}
.card_19 .grid   .client_data .data_list{
    flex: 0 0 88%;
    max-width: 88%;
    margin-top: 0px;
    overflow-wrap: break-word;
}
.card_19 .grid   .client_data .data_list li{
    margin-bottom: 0px;
    height: 47px;
}

.card_19 .grid   .client_data .data_list a{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(26, 26, 26);
    font-family: 'Roboto', sans-serif;
}
.card_19 .grid .details_grid .social_icons{
    position: absolute;
    top: 78%;
    left: 14%;
}
.card_19 .grid .details_grid .social_icons ul{
    padding: 0px;
}
.card_19 .grid .details_grid .social_icons ul li{
    display: inline-flex;
    margin-right: 22px;
}
.card_19 .grid .details_grid .social_icons ul li a{
    font-size: 30px;
    color: #E12C37;
}

.card_19 .grid .logo_grid{
    flex: 20%;

}
.card_19 .grid .logo_grid .logo{
    position: absolute;
    top: 38%;
    right: 17%;
    width: 22%;
    text-align: center;
}
.card_19 .grid .logo_grid .logo img{
    width: 140px;
    height: 140px;
}
@media (min-width:300px) and (max-width:475px){
    .card_19 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 21px;
    }
    .card_19 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 17px;
    }
    .card_19 .grid .details_grid .slogan{
        top: 33%;
        font-size: 15px;
    }
    .card_19 .grid .client_data .icon_list li img {
        width: 15px;
        height: 28px;
    }
    .card_19 .grid .client_data .data_list a {
        font-size: 10px;
    }
    .card_19 .grid .logo_grid .logo img {
        width: 59px;
        height: 80px;
    }
    .card_19 .grid .details_grid .social_icons ul li{
        margin-right: 8px;
    }
    .card_19 .grid .details_grid .social_icons ul li a {
        font-size: 20px;
    }
}
@media (min-width:475px) and (max-width:767.5px){
    .card_19 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 23px;
    }
    .card_19 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 19px;
    }
    .card_19 .grid .details_grid .slogan{
        top: 33%;
        font-size: 19px;
    }
   
    .card_19 .grid .client_data .icon_list li img {
        width: 20px;
        height: 25px;
    }
    .card_19 .grid .client_data .data_list a {
        font-size: 13px;
    }
    .card_19 .grid .logo_grid .logo img {
        width: 90px;
        height: 90px;
    }
    .card_19 .grid .details_grid .social_icons ul li a {
        font-size: 20px;
    }
}

