@font-face {
    font-family: Tajawal;
    src: url("../../../assets/fonts/ArbFONTS-Tajawal-Medium.ttf");
}
.card_26{
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 15px;
    font-family: 'Tajawal', sans-serif;
}
.card_26 img{
    width: 100%;
    height: 100%;
}
.card_26 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.card_26 .grid .left_part{
    flex: 0 0 65%;
    max-width: 65%;
    overflow-wrap: break-word;
}
.card_26 .grid .left_part::after{
    content: "";
    flex: 0 0 65%;
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #065E92;
    top: 41%;
    right: 7%;
}
.card_26 .grid .left_part .user{
    position: absolute;
    top: 21.5%;
    right: 8.8%;
}
.card_26 .grid .left_part .user img{
    width: 40px;
    height: 40px;
}
.card_26 .grid .left_part .g_inputs{
    position: absolute;
    top: 18.5%;
    right: 18%;
}
.card_26 .grid .left_part .g_inputs ul{
    padding: 0px;
    text-align: right;
}
.card_26 .grid .left_part .g_inputs ul li:first-child{
    font-size: 30px;
    font-weight: bold;
    color: #22497B;
    letter-spacing: 1.8px;
}
.card_26 .grid .left_part .g_inputs ul li:nth-child(2){
    font-size: 20px;
    color: #0082BC;
    letter-spacing: 2px;
}
.card_26 .client_details .client_list{
    display: flex;
    position: absolute;
    width: 57%;
    right: 7%;
    top: 49%;
    flex-direction: row-reverse;
}
.card_26 .client_details .client_list .icon_list{
    flex: 0 0 11%;
    padding: 0px;
    text-align: center;
    margin-left: 30px;
}
.card_26 .client_details .client_list .icon_list li{
    margin-bottom: 24px;
}
.card_26 .client_details .client_list .icon_list i{
    font-size: 35px;
    color: #0082BC;
    padding-left: 3.5px;
}
.card_26 .client_details .client_list .data_list{
    flex: 0 0 83%;
    padding: 0px;
    text-align: right;
}
.card_26 .client_details .client_list .data_list a{
    font-size: 20px;
    width: 100%;
    overflow-wrap: break-word;
    color: #000;
}
.card_26 .client_details .client_list .data_list li{
    height: 62px;
}
.card_26 .grid .right_part{
    flex: 0 0 34%;
    max-width: 34%;
}
.card_26 .grid .right_part .logo{
    position: absolute;
    top: 9%;
    left: 0%;
    width: 30%;
    text-align: center;
}
.card_26 .grid .right_part .logo img{
    width: 60%;
    height: 60%;
}
.card_26 .grid .right_part .slogan{
    position: absolute;
    bottom: 15%;
    left: 5px;
    width: 36%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
}
.card_26 .grid .right_part .social_icons{
    position: absolute;
    bottom: 2%;
    left: 0px;
    width: 40%;
}
.card_26 .grid .right_part .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.card_26 .grid .right_part .social_icons ul li{
    display: inline;
    margin-right: 12px;
}
.card_26 .grid .right_part .social_icons ul li a {
    color: #fff;
    font-size: 25px;
}
@media (min-width:300px) and (max-width:495px){
    .card_26 .grid .left_part .user {
        position: absolute;
        top: 22.5%;
        left: 7.5%;
    }
    .card_26 .grid .left_part .user img {
        width: 20px;
        height: 20px;
    }
    .card_26 .grid .left_part .g_inputs ul li:first-child{
        font-size: 16px;
    }
    .card_26 .grid .left_part .g_inputs ul li:nth-child(2){
        font-size: 13px;
    }
    .card_26 .client_details .client_list .icon_list{
        margin-right: 10px;
    }
    .card_26 .client_details .client_list .icon_list li{
        margin-bottom: 35px;
    }
    .card_26 .client_details .client_list .icon_list i{
        font-size: 15px;
    }
    .card_26 .client_details .client_list .data_list a{
        font-size: 12px;
    }
    .card_26 .grid .right_part .slogan{
        font-size: 11px;
    }
    .card_26 .grid .right_part .social_icons ul li a{
        font-size: 16px;
    }
}

