*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card_20{
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid rgb(199, 196, 196);
}
.card_20 img{
    width: 100%;
    height: 100%;
}
.card_20 .grid{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}
.card_20 .grid .details_grid{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
}
.card_20 .grid .details_grid .g_inputs{
    position: absolute;
    top: 12%;
    left: 0%;
    width: 80%;
    text-align: center;
}
.card_20 .grid .details_grid .g_inputs ul{
    padding: 0px;
}
.card_20 .grid .details_grid .g_inputs ul li:first-child{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
    font-size: 22px;
    letter-spacing: 2.5px;
}
.card_20 .grid .details_grid .g_inputs::after{
    content: "";
    position: absolute;
    top: 93%;
    left: 18%;
    width: 65%;
    height: 1.7px;
    background-color: rgba(0,0,0,.9);
}
.card_20 .grid .details_grid .slogan{
    position: absolute;
    top: 37%;
    left: -1%;
    text-align: center;
    width: 82%;
    color: #E12C37;
    letter-spacing: 1.8px;
    font-size: 19px;
}

.card_20 .grid  .client_data{
    position: absolute;
    top: 55%;
    left: 12%;
    width: 73%;
}
.card_20 .grid  .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.card_20 .grid  .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_20 .grid  .client_data .icon_list{
    flex: 0 0 6%;
    text-align: center;
    margin-right: 10px;
}

.card_20 .grid  .client_data .icon_list li{
    margin-bottom: 20px;
}
.card_20 .grid  .client_data .icon_list li a{
    font-size: 25px;
    color: #E12C37;
}
.card_20 .grid  .client_data .data_list{
    flex: 0 0 88%;
    max-width: 88%;
    margin-top: 8px;
    overflow-wrap: break-word;
}
.card_20 .grid .client_data .data_list li{
    margin-bottom: 0px;
    height: 58px;
    line-height: 1;
}

.card_20 .grid  .client_data .data_list a{
    font-size: 19px;
    letter-spacing: 1px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}


.card_20 .grid .logo_grid{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;

}
.card_20 .grid .logo_grid .logo{
    position: absolute;
    top: 38%;
    right: 26%;
    width: 65%;
    text-align: center;
}
.card_20 .grid .logo_grid .logo img{
    width: 140px;
    height: 140px;
}
.card_20 .grid .logo_grid .social_icons{
    position: absolute;
    bottom: 0%;
    right: 11%;
    text-align: center;
    width: 83%;
}
.card_20 .grid .logo_grid .social_icons ul{
    padding: 0px;
}
.card_20 .grid .logo_grid .social_icons ul li{
    display: inline-flex;
    margin-right: 25px;
}
.card_20 .grid .logo_grid .social_icons ul li a{
    font-size: 33px;
    color: rgba(0,0,0,.7);
}


@media (min-width:300px) and (max-width:445px){
    .card_20 .grid .details_grid .g_inputs{
        width: 100%;
    }
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 17px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 14px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 28%;
        font-size: 13px;
        letter-spacing: .4px;
        width: 100%;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 80%;
        left: 12%;
        width: 74%;
    }
    .card_20 .grid .client_data .icon_list li a {
        font-size: 19px;
    }
    .card_20 .grid .client_data .data_list li{
        height: 43px;
    }
    .card_20 .grid .client_data .data_list a {
        font-size: 12px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 60px;
        height: 60px;
    }
    .card_20 .grid .logo_grid .social_icons ul li a {
        font-size: 16px;
    }
    .card_20 .grid .logo_grid .social_icons ul li{
        margin-right: 2px;
    }
}
@media (min-width:445px) and (max-width:555px){
    .card_20 .grid .details_grid .g_inputs{
        width: 100%;
    }
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 19px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 16px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 32%;
        font-size: 17px;
        letter-spacing: .4px;
        width: 100%;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 87%;
        left: 12%;
        width: 74%;
    }
    .card_20 .grid .client_data .icon_list li a {
        font-size: 19px;
    }
    .card_20 .grid .client_data .data_list li{
        height: 43px;
    }
    .card_20 .grid .client_data .data_list a {
        font-size: 13px;
    }
    .card_20 .grid .logo_grid .social_icons ul li{
        margin-right: 7px;
    }
    .card_20 .grid .logo_grid .social_icons ul li a{
        font-size: 21px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width:555px) and (max-width:767.5px){
    .card_20 .grid .details_grid .g_inputs{
        width: 100%;
    }
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 23px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 20px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 36%;
        width: 100%;
        font-size: 18px;
        letter-spacing: .8px;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 87%;
        left: 19%;
        width: 60%;
    }
    .card_20 .grid .client_data .icon_list li a {
        font-size: 21px;
    }
    .card_20 .grid .client_data .data_list li{
        height: 49px;
    }
    .card_20 .grid .client_data .data_list a {
        font-size: 14px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 95px;
        height: 95px;
    }
    .card_20 .grid .logo_grid .social_icons ul li a {
        font-size: 25px;
    }
    .card_20 .grid .logo_grid .social_icons ul li{
        margin-right: 9px;
    }
}



