*{
    font-family: 'Tajawal', sans-serif;
}
.card_20{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid rgb(199, 196, 196);
}
.card_20 img{
    width: 100%;
    height: 100%;
}
.card_20 .grid{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: row-reverse;
}
.card_20 .grid .details_grid{
    flex: 0 0 60%;
    max-width: 60%;
}
.card_20 .grid .details_grid .g_inputs{
    position: absolute;
    top: 12%;
    right: 5%;
    text-align: right;
    width: 38%;
    text-align: center;
}
.card_20 .grid .details_grid .g_inputs ul{
    padding: 0px;
}
.card_20 .grid .details_grid .g_inputs ul li:first-child{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
    font-size: 17px;
    letter-spacing: 2.5px;
}
.card_20 .grid .details_grid .slogan{
    position: absolute;
    top: 37%;
    right: 5%;
    text-align: center;
    width: 37%;
    color: #E12C37;
    letter-spacing: 1px;
    font-size: 15px;
}
.card_20 .grid .details_grid .g_inputs::after{
    content: "";
    position: absolute;
    top: 62px;
    right: 17%;
    width: 65%;
    height: 1.7px;
    background-color: rgba(0,0,0,.9);
}
.card_20 .grid  .client_data{
    position: absolute;
    top: 50%;
    right: 4%;
    width: 40%;
    direction: rtl;
}
.card_20 .grid  .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_20 .grid  .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_20 .grid  .client_data .icon_list{
    flex: 0 0 6%;
    text-align: center;
    margin-left: 9px;
}

.card_20 .grid  .client_data .icon_list li{
    margin-bottom: 10px;
}
.card_20 .grid  .client_data .icon_list li a{
    font-size: 16px;
    color: #E12C37;
}
.card_20 .grid  .client_data .data_list{
    flex: 0 0 88%;
    max-width: 88%;
    margin-top: 5px;
    overflow-wrap: break-word;
}
.card_20 .grid .client_data .data_list li{
    margin-bottom: 0px;
    height: 33px;
    line-height: 1;
}

.card_20 .grid  .client_data .data_list a{
    font-size: 13px;
    letter-spacing: 1px;
    color: #000;
}
.card_20 .grid .details_grid .social_icons{
    position: absolute;
    top: 78%;
    left: 13%;
    text-align: center;
    width: 31%;
}
.card_20 .grid .details_grid .social_icons ul{
    padding: 0px;
}
.card_20 .grid .details_grid .social_icons ul li{
    display: inline;
    margin-right: 14px;
}
.card_20 .grid .details_grid .social_icons ul li a{
    font-size: 17px;
    color: rgba(0,0,0,.7);
}

.card_20 .grid .logo_grid{
    flex: 20%;

}
.card_20 .grid .logo_grid .logo{
    position: absolute;
    top: 38%;
    left: 18%;
    width: 22%;
    text-align: center;
}
.card_20 .grid .logo_grid .logo img{
    width: 90px;
    height: 90px;
}
.fa-map-marker-alt{
    font-size: 17px !important;
}
@media (min-width:300px) and (max-width:405px){
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 14px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 28%;
        font-size: .7rem;
        letter-spacing: .4px;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 80%;
        left: 12%;
        width: 74%;
    }
    .card_20 .grid .details_grid .client_details i{
        font-size: 12px;
    }
    .card_20 .grid .details_grid .client_details ul li{
        font-size: 9px;
        margin-bottom: 5px;
    }
    .card_20 .grid .details_grid .social_icons ul li{
        margin-right: 7px;
    }
    .card_20 .grid .details_grid .social_icons ul li a{
        font-size: 12px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 60px;
        height: 60px;
    }
}
@media (min-width:415px) and (max-width:525px){
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 19px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 16px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 35%;
        font-size: .8rem;
        letter-spacing: .4px;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 87%;
        left: 12%;
        width: 74%;
    }
    .card_20 .grid .details_grid .client_details i{
        font-size: 12px;
    }
    .card_20 .grid .details_grid .client_details ul li{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .card_20 .grid .details_grid .social_icons ul li{
        margin-right: 7px;
    }
    .card_20 .grid .details_grid .social_icons ul li a{
        font-size: 17px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 70px;
        height: 70px;
    }
}

@media (min-width:525px) and (max-width:635px){
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 23px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 20px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 39%;
        font-size: .8rem;
        letter-spacing: .4px;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 87%;
        left: 19%;
        width: 60%;
    }
    .card_20 .grid .details_grid .client_details i{
        font-size: 14px;
    }
    .card_20 .grid .details_grid .client_details ul li{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .card_20 .grid .details_grid .social_icons ul li{
        margin-right: 7px;
    }
    .card_20 .grid .details_grid .social_icons ul li a{
        font-size: 21px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 80px;
        height: 80px;
    }
}
@media (min-width:635px) and (max-width:735px){
    .card_20 .grid .details_grid .g_inputs{
        top: 10%;
    }
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 27px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 23px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 39%;
        font-size: 1rem;
        letter-spacing: .4px;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 87%;
        left: 17%;
        width: 65%;
    }
    .card_20 .grid .details_grid .client_details i{
        font-size: 17px;
    }
    .card_20 .grid .details_grid .client_details ul li{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .card_20 .grid .details_grid .social_icons ul li{
        margin-right: 7px;
    }
    .card_20 .grid .details_grid .social_icons ul li a{
        font-size: 25px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 90px;
        height: 90px;
    }
}
@media (min-width:735px) and (max-width:767.5px){
    .card_20 .grid .details_grid .g_inputs{
        top: 10%;
    }
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 27px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 23px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 39%;
        font-size: 1rem;
        letter-spacing: .4px;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 87%;
        left: 20%;
        width: 58%;
    }
    .card_20 .grid .details_grid .client_details i{
        font-size: 17px;
    }
    .card_20 .grid .details_grid .client_details ul li{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .card_20 .grid .details_grid .social_icons ul li{
        margin-right: 10px;
    }
    .card_20 .grid .details_grid .social_icons ul li a{
        font-size: 28px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width:768px) and (max-width:992px){
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 18px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 16px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 110px;
        font-size: 12px;
    }
    .card_20 .grid .details_grid .slogan::after{
        top: 40px;
        width: 70%;
    }
    .card_20 .grid .details_grid .client_details ul li{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .card_20 .grid .details_grid .client_details ul li i{
        font-size: 12px;
    }
    .card_20 .grid .details_grid .social_icons ul li{
        margin-right: 7px;
    }
    .card_20 .grid .details_grid .social_icons ul li a{
        font-size: 16px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width:992px) and (max-width:1350px){
    .card_20 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 14px;
    }
    .card_20 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    .card_20 .grid .details_grid .slogan{
        top: 28%;
        font-size: .7rem;
        letter-spacing: .4px;
    }
    .card_20 .grid .details_grid .g_inputs::after{
        top: 80%;
        left: 12%;
        width: 74%;
    }
    .card_20 .grid .details_grid .client_details i{
        font-size: 12px;
    }
    .card_20 .grid .details_grid .client_details ul li{
        font-size: 9px;
        margin-bottom: 5px;
    }
    .card_20 .grid .details_grid .social_icons ul li{
        margin-right: 7px;
    }
    .card_20 .grid .details_grid .social_icons ul li a{
        font-size: 12px;
    }
    .card_20 .grid .logo_grid .logo img {
        width: 60px;
        height: 60px;
    }
}
