*{
    font-family: 'Tajawal', sans-serif;
}
.card_4{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
}
.card_4 img{
    width: 100%;
    height: 100%;
}

.card_4 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.card_4 .grid .top_grid{
    flex: 0 0 50%;
    max-height: 50%;
}
.card_4 .grid .sub_grid{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.card_4 .grid .top_grid .sub_grid .sub_left{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
}
.card_4 .grid .top_grid .sub_grid .sub_left .g_inputs{
    position: absolute;
    top: 10%;
    right: 10%;
    text-align: right;
}
.card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul{
    padding: 0px;
    position: relative;
    padding-bottom: 5px;
}
.card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:first-child{
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    letter-spacing: .8px;
}
.card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:nth-child(2){
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}
.card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 0%;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.card_4 .grid .top_grid .sub_grid .sub_right{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
}
.card_4 .grid .top_grid .sub_grid .sub_right .logo{
    position: absolute;
    top: 10%;
    left: 0px;
}
.card_4 .grid .top_grid .sub_grid .sub_right .logo img{
    width: 90px;
    height: 90px;
}

.card_4 .grid .bot_grid{
    flex: 0 0 50%;
    max-height: 50%;
}
.card_4 .grid .bot_grid .sub_grid .left_sub{
    flex: 0 0 10%;
    position: relative;
    align-items: center;
    justify-content: space-around;
}
.card_4 .grid .bot_grid .sub_grid .left_sub .social_icons{
    position: absolute;
    left: 2%;
    top: 0%;
    text-align: center;
    width: 100%;
}
.card_4 .grid .bot_grid .sub_grid .left_sub .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}
.card_4 .grid .bot_grid .sub_grid .left_sub .social_icons ul li{
    margin-top: 6px;
}
.card_4 .grid .bot_grid .sub_grid .left_sub .social_icons ul li a{
    color: #0D1F33;
}
.card_4 .grid .bot_grid .sub_grid .left_sub::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 5px;
    height: 65%;
    width: 1px;
    background-color: #0D1F33;
}

.card_4 .grid .bot_grid .sub_grid .right_sub{
    flex: 0 0 90%;
    position: relative;
    direction: rtl;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data{
    position: absolute;
    top: 30%;
    right: 5%;
    width: 94%;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list{
    flex: 0 0 100%;
    text-align: right;
    margin-left: 5px;
}

.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li{
    margin-bottom: 10px;
    display: inline-flex;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a i{
    margin-left: 10px;
    color: #0D1F33;
    font-size: 20px;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a span{
    font-size: 14px;
    color: #000000;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li:first-child{
    width: 100%;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li:nth-child(2){
    width: 55%;
}
.card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li:nth-child(3){
     width: 40%;
}

@media (min-width:290px) and (max-width:440px){
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:first-child{
        font-size: 22px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:nth-child(2){
        font-size: 15px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_right .logo img {
        width: 70px;
        height: 70px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a i{
        font-size: 15px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a span{
        font-size: 12px;
    }
}

@media (min-width:580px) and (max-width:767.5px){
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:first-child{
        font-size: 28px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:nth-child(2){
        font-size: 18px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_right .logo img {
        width: 100px;
        height: 100px;
    }
    .card_4 .grid .bot_grid .sub_grid .left_sub .social_icons ul li a{
        font-size: 17px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a i{
        font-size: 19px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a span{
        font-size: 16px;
    }
  
    
}

@media (min-width:992px) and (max-width:1200px){
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:first-child{
        font-size: 22px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:nth-child(2){
        font-size: 15px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_right .logo img {
        width: 70px;
        height: 70px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a i{
        font-size: 15px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a span{
        font-size: 12px;
    }
}

@media (min-width:1700px){
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:first-child{
        font-size: 33px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_left .g_inputs ul li:nth-child(2){
        font-size: 20px;
    }
    .card_4 .grid .top_grid .sub_grid .sub_right .logo img {
        width: 110px;
        height: 110px;
    }
    .card_4 .grid .bot_grid .sub_grid .left_sub .social_icons ul li a{
        font-size: 18px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data{
        top: 22%;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a i{
        font-size: 22px;
    }
    .card_4 .grid .bot_grid .sub_grid .right_sub .client_data .icon_list li a span {
        font-size: 18px;
    }
  
    
}