.card_41{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
}
.card_41 img{
    width: 100%;
    height: 100%;
}
.card_41 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.card_41 .grid .left_grid{
    flex: 0 0 44%;
    max-width: 44%;
    position: relative;
    margin-top: 25px;
    margin-right: 17%;
}
.card_41 .grid .left_grid .g_inputs{
    position: absolute;
    width: 76%;
    top: 0px;
    right: 0px;
    text-align: right;
}
.card_41 .grid .left_grid .g_inputs ul{
    padding-left: 0px;
}
.card_41 .grid .left_grid .g_inputs ul li:first-child{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;

}
.card_41 .grid .left_grid .g_inputs ul li:nth-child(2){
    font-size: 13px;
    color: #fff;
    letter-spacing: 2px;
}
.card_41 .grid .left_grid .slogan{
    position: relative;
    top: 30%;
    right: 0px;
    text-align: right;
    width: 100%;
    color: rgba(228, 224, 224, 0.856);
}
.card_41 .grid .left_grid .slogan::after{
    content:"";
    position: absolute;
    top: 30px;
    right: 0px;
    width: 70%;
    height: 1px;
    background-color: #c7784a;
}

.card_41 .grid .left_grid .client_data{
    position: absolute;
    top: 48%;
    right: 15px;
    width: 92%;
    direction: rtl;
}
.card_41 .grid .left_grid .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_41 .grid .left_grid .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_41 .grid .left_grid .client_data .icon_list{
    flex: 0 0 10%;
    text-align: center;
    margin-left: 7px;
}
.card_41 .grid .left_grid .client_data .icon_list li a{
    color: rgba(255, 255, 255, 0.788);
}
.card_41 .grid .left_grid .client_data .icon_list li{
    margin-bottom: 5px;
}
.card_41 .grid .left_grid .client_data .data_list{
    flex: 0 0 86.5%;
    max-width: 88%;
    margin-top: 4px;
    overflow-wrap: break-word;
}
.card_41 .grid .left_grid .client_data .data_list li{
    margin-bottom: 0px;
    line-height: .9;
    height: 30px;
}
.card_41 .grid .left_grid .client_data .data_list a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.929);
    font-family: 'Roboto', sans-serif;
}

.card_41 .grid .social_icons{
    position: absolute;
    right: 0px;
    width: 94.5%;
    bottom: 2%;
    text-align: right;
}
.card_41 .grid .left_grid .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
}
.card_41 .grid .left_grid .social_icons ul li{
    display: inline-flex;
}
.card_41 .grid .left_grid .social_icons ul li a{
    font-size: 16px;
    margin-right: 13px;
    color:#fff;
}
.card_41 .grid .right_grid{
    flex: 0 0 39%;
    max-width: 39%;
    position: relative;
}
.card_41 .grid .right_grid .logo{
    position: absolute;
    top: 5%;
    left: 0px;
    width: 100%;
    text-align: center;
}
.card_41 .grid .right_grid .logo img{
    width: 100px !important;
    height: 100px !important;
    margin: auto;
}


@media (min-width:290px) and (max-width:440px){
    
    .card_41 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 16px;
    }
    .card_41 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 14px;
        letter-spacing: 1.7px;
    }
    .card_41 .grid .left_grid .slogan{
        top: 25%;
        font-size: 15px;
    }
    .card_41 .grid .left_grid .client_data{
        top: 41%;
        left: 8px;
        width: 100%;
    }
    .card_41 .grid .left_grid .client_data .icon_list li i{
        font-size: 12px;
    }
    .card_41 .grid .left_grid .client_data .data_list a{
        font-size: 11px;
    }
    .card_41 .grid .left_grid .social_icons ul li a{
        font-size: 14px;
        margin-right: 10px;
    }
    .card_41 .grid .right_grid .logo img {
        width: 70px !important;
        height: 70px !important;
    }
}

@media (min-width:767.5px) and (max-width:852px){
    
    .card_41 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 16px;
    }
    .card_41 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 14px;
        letter-spacing: 1.7px;
    }
    .card_41 .grid .left_grid .slogan{
        top: 25%;
        font-size: 15px;
    }
    .card_41 .grid .left_grid .client_data{
        top: 41%;
        left: 8px;
        width: 100%;
    }
    .card_41 .grid .left_grid .client_data .icon_list li i{
        font-size: 12px;
    }
    .card_41 .grid .left_grid .client_data .data_list a{
        font-size: 11px;
    }
    .card_41 .grid .left_grid .social_icons ul li a{
        font-size: 14px;
        margin-right: 10px;
    }
    .card_41 .grid .right_grid .logo img {
        width: 70px !important;
        height: 70px !important;
    }
}

@media (min-width:992px) and (max-width:1270px){
    
    .card_41 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 16px;
    }
    .card_41 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 14px;
        letter-spacing: 1.7px;
    }
    .card_41 .grid .left_grid .slogan{
        top: 25%;
        font-size: 15px;
    }
    .card_41 .grid .left_grid .client_data{
        top: 41%;
        left: 8px;
        width: 100%;
    }
    .card_41 .grid .left_grid .client_data .icon_list li i{
        font-size: 12px;
    }
    .card_41 .grid .left_grid .client_data .data_list a{
        font-size: 11px;
    }
    .card_41 .grid .left_grid .social_icons ul li a{
        font-size: 14px;
        margin-right: 10px;
    }
    .card_41 .grid .right_grid .logo img {
        width: 70px !important;
        height: 70px !important;
    }
}