.card_46{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
}
.card_46 img{
    width: 100%;
    height: 100%;
}
.card_46 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
}
.card_46 .grid .left_grid{
    flex: 0 0 42%;
    max-width: 42%;
    position: relative;
}
.card_46 .grid .left_grid .logo{
    position: absolute;
    top: 12%;
    width: 80%;
    text-align: center;
}
.card_46 .grid .left_grid .logo img{
    width: 110px !important;
    height: 110px !important;
    margin: auto;
}
.card_46 .grid .left_grid .g_inputs{
    position: relative;
    top: 46%;
    left: 15%;
    text-align: left;
    width: 96%;
    overflow-wrap: break-word;
}
.card_46 .grid .left_grid .g_inputs ul{
    padding: 0px;
    margin-bottom: 0px;
}
.card_46 .grid .left_grid .g_inputs ul li:first-child{
    font-size: 28px;
    letter-spacing: .8px;
    font-weight: bold;
    color: #131722;
    font-family: 'Oswald', sans-serif;
}
.card_46 .grid .left_grid .g_inputs ul li:nth-child(2){
    font-size: 18px;
    color: #131722;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.card_46 .grid .left_grid .g_inputs::after{
    content: "";
    position: absolute;
    top: 80px;
    left: 0%;
    width: 65%;
    height: 1.7px;
    background-color: #98a0a8;

}
.card_46 .grid .left_grid .slogan{
    position: absolute;
    top: 77%;
    left: 14.5%;
    font-size: 15px;
    letter-spacing: 1.2px;
    width: 100%;
    text-align: left;
}
.card_46 .grid .right_grid{
    flex:  0 0 58%;
    max-width: 58%;
    position: relative;
}
.card_46 .grid .right_grid .client_data{
    position: absolute;
    top: 12%;
    left: 2%;
    width: 97.5%;
}
.card_46 .grid .right_grid .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.card_46 .grid .right_grid .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_46 .grid .right_grid .client_data .icon_list{
    flex: 0 0 10%;
    text-align: center;
    margin-right: 3px;
}
.card_46 .grid .right_grid .client_data .icon_list li a{
    color: rgb(255, 255, 255);
    font-size: 17px;
}
.card_46 .grid .right_grid .client_data .icon_list li{
    margin-bottom: 3px;
}
.card_46 .grid .right_grid .client_data .icon_list li a{
    font-size: 16px;
}
.card_46 .grid .right_grid .client_data .data_list{
    flex: 0 0 89%;
    max-width: 89%;
    margin-top: 1px;
    overflow-wrap: break-word;
}
.card_46 .grid .right_grid .client_data .data_list li{
    margin-bottom: 1.5px;
}
.card_46 .grid .right_grid .client_data .data_list a{
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.929);
    font-family: 'Roboto', sans-serif;
}

.card_46 .grid .right_grid .social_icons{
    position: absolute;
    right: 0%;
    top: 65%;
    text-align: center;
    width: 65%;
}
.card_46 .grid .right_grid .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
}
.card_46 .grid .right_grid .social_icons ul li{
    display: inline-flex;
}
.card_46 .grid .right_grid .social_icons ul li a{
    font-size: 22px;
    margin-right: 13px;
    color:#ffffff;
}

@media (min-width:290px) and (max-width:440px){
    .card_46 .grid .left_grid .logo img {
        width: 90px !important;
        height: 100px !important;
    }
    .card_46 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 21px;
    }
    .card_46 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 14px;
    }
    .card_46 .grid .left_grid .g_inputs::after{
        top: 65px;
        width: 86%;
    }
    .card_46 .grid .left_grid .slogan{
        top: 72%;
        font-size: 11px;
    }
    .card_46 .grid .right_grid .client_data .icon_list li a{
        font-size: 12px;
    }
    .card_46 .grid .right_grid .client_data .data_list a{
        font-size: 11px;
    }
    .card_46 .grid .right_grid .social_icons ul li a{
        font-size: 15px;
        margin-right: 7px;
    }
}

@media (min-width:768px) and (max-width:900px){
    .card_46 .grid .left_grid .logo img {
        width: 90px !important;
        height: 100px !important;
    }
    .card_46 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 23px;
    }
    .card_46 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 16px;
    }
    .card_46 .grid .left_grid .g_inputs::after{
        top: 65px;
        width: 86%;
    }
    .card_46 .grid .left_grid .slogan{
        top: 73%;
        font-size: 14px;
    }
    .card_46 .grid .right_grid .client_data .icon_list li a{
        font-size: 14px;
    }
    .card_46 .grid .right_grid .client_data .data_list a{
        font-size: 13px;
    }
    .card_46 .grid .right_grid .social_icons ul li a{
        font-size: 19px;
        margin-right: 10px;
    }
}

@media (min-width:992px) and (max-width:1150px){
    .card_46 .grid .left_grid .logo img {
        width: 90px !important;
        height: 100px !important;
    }
    .card_46 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 21px;
    }
    .card_46 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 14px;
    }
    .card_46 .grid .left_grid .g_inputs::after{
        top: 65px;
        width: 86%;
    }
    .card_46 .grid .left_grid .slogan{
        top: 73%;
        font-size: 12px;
    }
    .card_46 .grid .right_grid .client_data .icon_list li a{
        font-size: 12px;
    }
    .card_46 .grid .right_grid .client_data .data_list a{
        font-size: 11px;
    }
    .card_46 .grid .right_grid .social_icons ul li a{
        font-size: 15px;
        margin-right: 7px;
    }
}

@media (min-width:1150px) and (max-width:1350px){
    .card_46 .grid .left_grid .logo img {
        width: 90px !important;
        height: 100px !important;
    }
    .card_46 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 23px;
    }
    .card_46 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 16px;
    }
    .card_46 .grid .left_grid .g_inputs::after{
        top: 65px;
        width: 86%;
    }
    .card_46 .grid .left_grid .slogan{
        top: 72%;
        font-size: 14px;
    }
    .card_46 .grid .right_grid .client_data .icon_list li a{
        font-size: 14px;
    }
    .card_46 .grid .right_grid .client_data .data_list a{
        font-size: 13px;
    }
    .card_46 .grid .right_grid .social_icons ul li a{
        font-size: 19px;
        margin-right: 10px;
    }
}

@media (min-width:1700px) and (max-width:2200px){
    .card_46 .grid .left_grid .logo img {
        width: 125px !important;
        height: 125px !important;
    }
    .card_46 .grid .left_grid .g_inputs ul li:first-child{
        font-size: 28px;
    }
    .card_46 .grid .left_grid .g_inputs ul li:nth-child(2){
        font-size: 19px;
    }
    .card_46 .grid .left_grid .g_inputs::after{
        top: 80px;
        width: 65%;
    }
    .card_46 .grid .left_grid .slogan{
        top: 78%;
        font-size: 16px;
    }
    .card_46 .grid .right_grid .client_data .icon_list li a{
        font-size: 17px;
    }
    .card_46 .grid .right_grid .client_data .data_list a{
        font-size: 15px;
    }
    .card_46 .grid .right_grid .social_icons ul li a{
        font-size: 25px;
        margin-right: 13px;
    }
}