

@font-face {
    font-family: Tajawal;
    src: url("../../assets/fonts/ArbFONTS-Tajawal-Medium.ttf");
  }
.cards .card_1{
    height: 300px;
    margin-bottom: 35px;
    border: 1px solid #eee;
    font-family: 'Tajawal', sans-serif;

}
.cards .card_1 .c-1-en{
    width: 100%;
    height: 100%;
    position: relative;
}
.cards .card_1 .c-1-en img{
    width: 100%;
    height: 100%;
}
.cards .card_1 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.cards .card_1 .left_part{
    flex: 0 0 41%;
    max-width: 41%;
    position: relative;
}
.cards .card_1 .left_part .g_logo{
    position: absolute;
    top: 7%;
    left: 0%;
    width: 100%;
    text-align: center;
}
.cards .card_1 .left_part .g_logo img{
    width: 100px;
    height: 100px;
}

.cards .card_1 .left_part .g_inputs{
    position: absolute;
    top: 43%;
    width: 100%;
    text-align: center;
    left: 0%;
}
.card_1 .left_part .g_inputs ul{
    padding: 0px;
    position: relative;
}
.cards .card_1 .left_part .g_inputs ul li:first-child{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
}
.cards .card_1 .left_part .g_inputs ul li:nth-child(2){
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
}

.cards .card_1 .left_part .g_inputs ul::after{
  content: "";
  position: absolute;
  top: 182%;
  left: 15%;
  margin-top: 10px;
  text-align: center;
  width: 70%;
  height: 1px;
  background-color: #fff;
}

  
.cards .card_1 .left_part .slogan{
    position: absolute;
    top: 87%;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.7px;
}

.cards .card_1 .right_part{
    flex: 0 0 59%;
    max-width: 59%;
    position: relative;
}
.cards .card_1 .grid .right_part .client_data{
    position: absolute;
    top: 22%;
    right: 5%;
    width: 95%;
    direction: rtl;
}
.cards .card_1 .grid .right_part .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.cards .card_1 .grid .right_part .client_data .client_list{
    display: flex;
    width: 100%;
}
.cards .card_1 .grid .right_part .client_data .icon_list{
    flex: 0 0 10%;
    text-align: center;
    margin-left: 10px;
}
.cards .card_1 .grid .right_part .client_data .icon_list li a{
    color: #02286f;
    font-size: 20px;
}
.cards .card_1 .grid .right_part .client_data .icon_list li{
    margin-bottom: 10px;
}

.cards .card_1 .grid .right_part .client_data .data_list{
    flex: 0 0 86%;
    max-width: 86%;
    margin-top: 1px;
    overflow-wrap: break-word;
}
.cards .card_1 .grid .right_part .client_data .data_list li{
    margin-bottom: 0px;
    height: 41px;
}
.cards .card_1 .grid .right_part .client_data .data_list a{
    font-size: 14px;
    letter-spacing: 1px;
    color: #051838;
    font-family: 'Roboto', sans-serif;
}
.cards .card_1 .grid .right_part .social_icons{
    position: absolute;
    right: 2%;
    bottom: 3%;
    text-align: right;
    width: 91%;
}
.cards .card_1 .grid .right_part .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}
.cards .card_1 .grid .right_part .social_icons ul li{
    display: inline-flex;
}
.cards .card_1 .grid .right_part .social_icons ul li a{
    font-size: 22px;
    margin-right: 20px;
    color:#0255a3;
}
.cards .card_1 .grid .right_part .social_icons::before{
    content: "";
    position: absolute;
    top: -28%;
    right: 5%;
    width: 85%;
    height: 1.7px;
    background-color: #ada5b5;
}



@media (min-width:300px) and (max-width:440px){
    .cards .card_1 .left_part .g_logo img {
        width: 80px;
        height: 100px;
    }
    .cards .card_1 .left_part .g_inputs ul li:first-child{
        font-size: 18px;
    }
    .cards .card_1 .left_part .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    
    .cards .card_1 .c-1-en .g_inputs ul::after{
        top: 262%;
    }
    .cards .card_1 .left_part .slogan{
        top: 89%;
    }
    .cards .card_1 .left_part .slogan{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .cards .card_1 .grid .right_part .client_data .icon_list li a{
        font-size: 14px;
    }
    .cards .card_1 .grid .right_part .client_data .data_list li{
        height:33px
    }
    .cards .card_1 .grid .right_part .client_data .data_list a{
        font-size: 11px;
    }
    .cards .card_1 .grid .right_part .social_icons ul li a{
        font-size: 19px;
        margin-right: 13px;
    }
}

@media (min-width:580px) and (max-width:768px){

    .cards .card_1 .left_part .g_logo img {
        width: 100px;
        height: 100px;
    }
    .cards .card_1 .left_part .g_inputs ul li:first-child{
        font-size: 22px;
    }
    .cards .card_1 .left_part .g_inputs ul li:nth-child(2){
        font-size: 15px;
    }
    
    .cards .card_1 .left_part .slogan{
        top: 87%;
    }
    .cards .card_1 .left_part .slogan{
        font-size: 16px;
        letter-spacing: 2px;
    }
    .cards .card_1 .grid .right_part .client_data .icon_list li a{
        font-size: 19px;
    }
    .cards .card_1 .grid .right_part .client_data .data_list li{
        height:38px
    }
    .cards .card_1 .grid .right_part .client_data .data_list a{
        font-size: 15px;
    }
    .cards .card_1 .grid .right_part .social_icons ul li a{
        font-size: 26px;
        margin-right: 22px;
    }
}
@media (min-width:768px) and (max-width:990px){
 
    .cards .card_1 .grid .right_part .social_icons ul li a{
        font-size: 24px;
        margin-right: 18px;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .cards .card_1 .left_part .g_logo img {
        width: 80px;
        height: 100px;
    }
    .cards .card_1 .left_part .g_inputs ul li:first-child{
        font-size: 18px;
    }
    .cards .card_1 .left_part .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    
    .cards .card_1 .c-1-en .g_inputs ul::after{
        top: 262%;
    }
    .cards .card_1 .left_part .slogan{
        top: 89%;
    }
    .cards .card_1 .left_part .slogan{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .cards .card_1 .grid .right_part .client_data .icon_list li a{
        font-size: 14px;
    }
    .cards .card_1 .grid .right_part .client_data .data_list li{
        height:33px
    }
    .cards .card_1 .grid .right_part .client_data .data_list a{
        font-size: 11px;
    }
    .cards .card_1 .grid .right_part .social_icons ul li a{
        font-size: 19px;
        margin-right: 13px;
    }
}

@media (min-width:1700px) and (max-width:2400px){

    .cards .card_1 .left_part .g_logo img {
        width: 110px;
        height: 110px;
    }
    .cards .card_1 .left_part .g_inputs ul li:first-child{
        font-size: 25px;
    }
    .cards .card_1 .left_part .g_inputs ul li:nth-child(2){
        font-size: 18px;
    }
    .cards .card_1 .left_part .g_inputs ul::after{
        top: 162%;
    }
    .cards .card_1 .left_part .slogan{
        top: 85%;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .cards .card_1 .grid .right_part .client_data .icon_list li a{
        font-size: 24px;
    }
    .cards .card_1 .grid .right_part .client_data .data_list li{
        height:48px
    }
    .cards .card_1 .grid .right_part .client_data .data_list a{
        font-size: 19px;
    }
    .cards .card_1 .grid .right_part .social_icons ul li a{
        font-size: 27px;
        margin-right: 25px;
    }
}
