*{
    font-family: 'Tajawal', sans-serif;
}
.card_17{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid rgb(199, 196, 196);
}
.card_17 img{
    width: 100%;
    height: 100%;
}
.card_17 .grid{
    display: flex;
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0%;
    flex-direction: row-reverse;
}
.card_17 .grid .left_column{
    flex:0 0 55%;
    max-width: 55%;
}
.card_17 .grid .logo{
    width: 45%;
    text-align: center;
    position: absolute;
    top: 9%;
    right: 0px;
}
.card_17 .grid .logo img{
    width: 100px;
    height: 100px;
}
.card_17 .grid .g_inputs{
    width: 45%;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0px;
}
.card_17 .grid .g_inputs span{
    color:#fff;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;
    letter-spacing: 2px;
}
.card_17 .grid .slogan{
    position: absolute;
    top: 66%;
    width: 45%;
    right: 0px;
}
.card_17 .grid .slogan ul{
    padding:0px;
    text-align: center;
}
.card_17 .grid .slogan ul li span{
    color: #a13063;
}
.card_17 .grid .slogan ul li:first-child{
    font-size: 22px;
    letter-spacing: 2.8px;
}
.card_17 .grid .slogan ul li:nth-child(2){
    font-size: 15px;
    letter-spacing: 1.2px;
}
.card_17 .grid .social_icons{
    position: absolute;
    bottom: 0%;
    text-align: center;
    width: 50%;
    right: 0px;
}
.card_17 .grid .social_icons ul{
    padding: 0px;
    margin: 0px;
}
.card_17 .grid .social_icons ul li{
    display: inline;
}
.card_17 .grid .social_icons ul li a{
    margin-right: 16px;
    color: #fff;
    font-size: 23px;
}
.card_17 .grid .right_column{
    flex: 0 0 45%;
    height: 99%;
    position: relative;
}
.card_17 .grid .right_column .client_data{
    position: absolute;
    top: 29.5%;
    left: 0%;
    width: 97.5%;
    direction: rtl;
}
.card_17 .grid .right_column .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_17 .grid .right_column .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_17 .grid .right_column .client_data .icon_list{
    flex: 0 0 10%;
    text-align: right;
    margin-left: 10px;
}
.card_17 .grid .right_column .client_data .icon_list li{
    margin-bottom: 14px;
}
.card_17 .grid .right_column .client_data .icon_list li a{
    color: #a13063;
    font-size: 20px;
}

.card_17 .grid .right_column .client_data .data_list{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 1px;
    overflow-wrap: break-word;
}
.card_17 .grid .right_column .client_data .data_list li{
    margin-bottom: 0px;
    height: 46px;
    line-height: .8;
}
.card_17 .grid .right_column .client_data .data_list a{
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
@media (min-width:300px) and (max-width:545px){
    .card_17 .grid .logo img {
        width: 75px;
        height: 75px;
    }
    .card_17 .grid .g_inputs span{
        font-size: 15px;
    }
    .card_17 .grid .slogan ul li:first-child{
        font-size: 16px;
    }
    .card_17 .grid .slogan ul li:nth-child(2){
        font-size: 11px;
        letter-spacing: .8px;
    }
    .card_17 .grid .social_icons ul li a{
        font-size: 20px;
    }
    .card_17 .grid .right_column .client_data .icon_list li a {
        font-size: 16px;
    }
    .card_17 .grid .right_column .client_data .data_list li{
        height: 40px;
    }
    .card_17 .grid .right_column .client_data .data_list a {
        font-size: 10px;
    }
}

@media (min-width:768px) and (max-width:992px){
    .card_17 .grid .logo img {
        width: 85px;
        height: 85px;
    }
    .card_17 .grid .g_inputs span{
        font-size: 18px;
    }
    .card_17 .grid .slogan ul li:first-child{
        font-size: 17px;
    }
    .card_17 .grid .slogan ul li:nth-child(2){
        font-size: 12px;
        letter-spacing: .8px;
    }
    .card_17 .grid .social_icons ul li a{
        font-size: 22px;
    }
    .card_17 .grid .right_column .client_data .icon_list li a {
        font-size: 17px;
    }
    .card_17 .grid .right_column .client_data .data_list li{
        height: 40px;
    }
    .card_17 .grid .right_column .client_data .data_list a {
        font-size: 12px;
    }
}

@media (min-width:992px) and (max-width:1300px){
    .card_17 .grid .logo img {
        width: 75px;
        height: 75px;
    }
    .card_17 .grid .g_inputs span{
        font-size: 15px;
    }
    .card_17 .grid .slogan ul li:first-child{
        font-size: 16px;
    }
    .card_17 .grid .slogan ul li:nth-child(2){
        font-size: 11px;
        letter-spacing: .8px;
    }
    .card_17 .grid .social_icons ul li a{
        font-size: 20px;
    }
    .card_17 .grid .right_column .client_data .icon_list li a {
        font-size: 16px;
    }
    .card_17 .grid .right_column .client_data .data_list li{
        height: 40px;
    }
    .card_17 .grid .right_column .client_data .data_list a {
        font-size: 10px;
    }
}

