*{
    font-family: 'Tajawal', sans-serif;
}
.card_14{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
}
.card_14 img{
    width: 100%;
    height: 100%;
}
.card_14 .grid{
    position: absolute;
    top: 3%;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
.card_14 .grid .slogan{
    flex: 0 0 40%;
    text-align: right;
    padding-right: 9%;
    margin-top: 6%;
    font-size: 19px;
    font-weight: 500;
    position: relative;
}
.card_14 .grid .slogan::after{
    content:"";
    position: absolute;
    top: 49%;
    right: 22%;
    width: 75%;
    height: 1.5px;
    background-color: #7cada7;
}
.card_14 .grid .logo{
    flex: 0 0 20%;
    text-align: center;
}
.card_14 .grid .logo img{
    width: 85px !important;
    height: 85px !important;
}
.card_14 .grid .g_inputs{
    flex: 0 0 33%;
    text-align: right;
}
.card_14 .grid .g_inputs ul{
    padding-left: 0px;
    margin-top: 9%;
}
.card_14 .grid .g_inputs ul li:first-child{
    font-size: 22px;
    font-weight: bold;
}
.card_14 .grid .g_inputs ul li:nth-child(2){
    font-size: 18px;
}

.card_14 .client_data{
    position: absolute;
    top: 29.5%;
    right: 14%;
    width: 60.5%;
    direction: rtl;
}
.card_14  .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_14  .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_14  .client_data .data_list{
    flex: 0 0 95%;
    max-width: 95%;
    margin-top: 1px;
    overflow-wrap: break-word;
}
.card_14  .client_data .data_list li{
    margin-bottom: 0px;
    height: 33px;
}
.card_14  .client_data .data_list a{
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(26, 25, 25, 0.929);
    font-family: 'Roboto', sans-serif;
}
.card_14 .social_icons{
    position: absolute;
    left: 3%;
    top: 18%;
}
.card_14 .social_icons ul{
    padding:0px;
}
.card_14 .social_icons ul li{
    margin-bottom: 35%;
}
.card_14 .social_icons ul li a{
    font-size: 18px;
    color: #ACACAC;
}
@media (min-width:300px) and (max-width:415px){
    .card_14 .grid .slogan{
        padding-left: 6%;
        font-size: 15.5px;
        margin-top: 5%;
    }
    .card_14 .grid .slogan::after{
        top: 55%;
        left: 15%;
        width: 80%;
    }
    .card_14 .grid .logo img {
        width: 70px !important;
        height: 70px !important;
    }
    .card_14 .grid .g_inputs ul li:first-child {
        font-size: 18px;
    }
    .card_14 .grid .g_inputs ul li:nth-child(2){
        font-size: 16px;
    }
}
@media (min-width:415px) and (max-width:515px){
    .card_14 .grid .slogan{
        font-size: 16px;
        margin-top: 4%;
    }
    .card_14 .grid .slogan::after{
        top: 55%;
    }
    .card_14 .grid .logo img {
        width: 75px !important;
        height: 75px !important;
    }
    .card_14 .grid .g_inputs ul li:first-child {
        font-size: 20px;
    }
    .card_14 .grid .g_inputs ul li:nth-child(2) {
        font-size: 16px;
    }
}
@media (min-width:550px) and (max-width:660px){
    .card_14 .grid .slogan{
        margin-top: 4%;
    }
    .card_14 .grid .slogan::after{
        top: 55%;
    }
}
@media (min-width:660.5px) and (max-width:767.5px){
    .card_14 .grid .slogan{
        margin-top: 4%;
    }
    .card_14 .grid .slogan::after{
        top: 50%;
    }
}
@media (min-width:767.5px) and (max-width:992px){
    .card_14 .grid .slogan{
       font-size: 16px;
    }
}
@media (min-width:991.2px) and (max-width:1200px){
    .card_14 .grid .slogan{
        padding-left: 6%;
        font-size: 15px;
        margin-top: 5%;
    }
    .card_14 .grid .slogan::after{
        top: 55%;
        left: 15%;
        width: 80%;
    }
    .card_14 .grid .logo img {
        width: 70px !important;
        height: 70px !important;
    }
    .card_14 .grid .g_inputs ul li:first-child {
        font-size: 18px;
    }
    .card_14 .grid .g_inputs ul li:nth-child(2){
        font-size: 16px;
    }
}
@media (min-width:1200.5px) and (max-width:1320px){
    .card_14 .grid .slogan{
        padding-left: 7%;
        font-size: 18px;
        margin-top: 5%;
    }
}


