.card_37{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
}
.card_37 img{
    width: 100%;
    height: 100%;
}
.card_37 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.card_37 .grid .top_grid{
    flex: 0 0 50%;
    max-height: 50%;
    text-align: left;
    position: relative;
}
.card_37 .grid .top_grid .card_data{
    position: absolute;
    top: 16%;
    left: 3%;
}
.card_37 .grid .top_grid .card_data .logo,.card_37 .grid .top_grid .card_data .g_inputs{
    display: inline-flex;
    vertical-align: middle;
}
.card_37 .grid .top_grid .card_data .logo img{
    width: 80px !important;
    height: 80px !important;
}
.card_37 .grid .top_grid .card_data .g_inputs ul{
    padding: 0px;
}
.card_37 .grid .top_grid .card_data .g_inputs ul li{
    color: #fff;
}
.card_37 .grid .top_grid .card_data .g_inputs ul li:first-child{
    font-size: 23px;
    font-weight: 600;
}
.card_37 .grid .top_grid .card_data .g_inputs ul li:nth-child(2){
    font-size: 16px;
    letter-spacing: 2px;
}
.card_37 .grid .bot_grid{
    flex: 0 0 50%;
    max-height: 50%;
    position: relative;
}
.card_37 .grid .bot_grid .sub_bot_grid{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.card_37 .grid .bot_grid .sub_bot_grid .social_icons{
    flex:0 0 60%;
    text-align: left;
}
.card_37 .grid .bot_grid .social_icons ul{
    position: absolute;
    bottom: 2%;
    left: 25%;
    padding: 0px;
    margin-bottom: 0px;
}
.card_37 .grid .bot_grid .sub_bot_grid .social_icons ul li{
    display: inline-flex;
}
.card_37 .grid .bot_grid .sub_bot_grid .social_icons ul li a{
    font-size: 18px;
    margin-right: 12px;
    color: #ed2229;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data{
    flex: 0 0 40%;
    text-align: left;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .slogan{
    position: absolute;
    top: 18%;
    color: #54616e;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid #f8afb2;
    width: 32%;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list{
    position: absolute;
    top: 43%;
    display: flex;
    width: 40%;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .icon_list,.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .data_list{
    padding:0px
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .icon_list{
    flex: 0 0 12%;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .icon_list li{
    margin-bottom: 2px;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .data_list{
    flex: 0 0 87%;
    max-width: 87%;
    overflow-wrap: break-word;
    margin-top: 5px;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .data_list li{
    margin-bottom: 0px;
    height: 25px;
    line-height: .8;
}
.card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .data_list a{
    margin-top: 2px;
    font-size: 13px;
    font-weight: 400;
    color: #000;
}


@media (min-width:250px) and (max-width:450px){
    .card_37 .grid .top_grid .card_data .logo img {
        width: 60px !important;
        height: 60px !important;
    }
    .card_37 .grid .top_grid .card_data .g_inputs ul li:first-child{
        font-size: 17px;
    }
    .card_37 .grid .top_grid .card_data .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .social_icons{
        flex: 0 0 58%;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .social_icons ul li a{
        font-size: 13px;
        margin-right: 2px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .slogan{
        font-size: 12px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .icon_list li i{
        font-size: 11px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .data_list a{
        font-size: 10px;
        margin-top: 11px;
    }
}

@media (min-width:767.5px) and (max-width:942px){
    .card_37 .grid .top_grid .card_data .logo img {
        width: 60px !important;
        height: 60px !important;
    }
    .card_37 .grid .top_grid .card_data .g_inputs ul li:first-child{
        font-size: 17px;
    }
    .card_37 .grid .top_grid .card_data .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .social_icons{
        flex: 0 0 59%;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .social_icons ul li a{
        font-size: 18px;
        margin-right: 6px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .slogan{
        font-size: 14px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .icon_list li i{
        font-size: 14px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .data_list a{
        font-size: 10px;
        margin-top: 11px;
    }
}
@media (min-width:992px) and (max-width:1270px){
    .card_37 .grid .top_grid .card_data .logo img {
        width: 60px !important;
        height: 60px !important;
    }
    .card_37 .grid .top_grid .card_data .g_inputs ul li:first-child{
        font-size: 17px;
    }
    .card_37 .grid .top_grid .card_data .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .social_icons{
        flex: 0 0 59%;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .social_icons ul li a{
        font-size: 18px;
        margin-right: 6px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .slogan{
        font-size: 12px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .icon_list li i{
        font-size: 12px;
    }
    .card_37 .grid .bot_grid .sub_bot_grid .client_data .client_list .data_list a{
        font-size: 10px;
        margin-top: 11px;
    }
}
