.card_24{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid rgb(199, 196, 196);
    font-family: 'Tajawal', sans-serif;
}
.card_24 img{
    width: 100%;
    height: 100%;
}
.card_24 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.card_24 .grid .g_inputs{
    flex: 0 0 60%;
    max-width: 60%;
    overflow-wrap: break-word;
}
.card_24 .grid .g_inputs .client_data{
    position: absolute;
    top: 5%;
    right: 8%;
}
.card_24 .grid .g_inputs .client_data ul{
    padding: 0px;
    text-align: right;
}
.card_24 .grid .g_inputs .client_data ul li:first-child{
    font-size: 25px;
    font-weight: bold;
    color: #238191;
}
.card_24 .grid .g_inputs .client_data ul li:nth-child(2){
    font-size: 18px;
    color: #238191;
}
.card_24 .client{
    position: absolute;
    top: 33.5%;
    right: 25%;
    width: 60.5%;
}
.card_24  .client ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_24  .client .client_list{
    display: flex;
    width: 100%;
}
.card_24  .client .data_list{
    flex: 0 0 95%;
    max-width: 95%;
    margin-top: 1px;
    overflow-wrap: break-word;
}
.card_24  .client .data_list li{
    margin-bottom: 0px;
    height: 32px;
}
.card_24  .client .data_list a{
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(26, 25, 25, 0.929);
}
.card_24 .grid .logo{
    flex: 0 0 40%;
    max-width: 40%;
}
.card_24 .grid .logo img{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 2%;
}

.card_24 .bot_grid{
    display: flex;
    position: absolute;
    bottom: 2%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.card_24 .bot_grid .slogan{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right;
    padding-right: 8%;
    color: #20242D;
    font-size: 18px;
}
.card_24 .bot_grid .social_icons{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
}
.card_24 .bot_grid .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
    padding-left: 10%;
}
.card_24 .bot_grid .social_icons ul li{
    display: inline;
    margin-right: 15px;
}
.card_24 .bot_grid .social_icons ul li a{
    font-size: 25px;
    color: #70BFCC;
}
@media (min-width:300px) and (max-width:425px){
    .card_24 .grid .g_inputs .client_data ul li:first-child{
        font-size: 20px;
    }
    .card_24 .grid .g_inputs .client_data ul li:nth-child(2){
        font-size: 12px;
    }
    .card_24 .grid .g_inputs .client_details ul li span{
        font-size: 11px;
    }
    .card_24 .grid .logo img{
        width: 100px;
        height: 100px;
    }
    .card_24 .bot_grid .slogan{
        font-size: 13px;
    }
    .card_24 .bot_grid .social_icons ul li a{
        font-size: 15px;
    }
}

@media (min-width:767.5px) and (max-width:992px){
    .card_24 .grid .g_inputs .client_data ul li:first-child{
        font-size: 23px;
    }
    .card_24 .grid .g_inputs .client_data ul li:nth-child(2){
        font-size: 14px;
    }
    .card_24 .grid .g_inputs .client_details ul li span{
        font-size: 14px;
    }
    .card_24 .grid .logo img{
        width: 120px;
        height: 120px;
    }
    .card_24 .bot_grid .slogan{
        font-size: 16px;
    }
    .card_24 .bot_grid .social_icons ul li a{
        font-size: 18px;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .card_24 .grid .g_inputs .client_data ul li:first-child{
        font-size: 21px;
    }
    .card_24 .grid .g_inputs .client_data ul li:nth-child(2){
        font-size: 12px;
    }
    .card_24 .grid .g_inputs .client_details ul li span{
        font-size: 13px;
    }
    .card_24 .grid .logo img{
        width: 110px;
        height: 110px;
    }
    .card_24 .bot_grid .slogan{
        font-size: 15px;
    }
    .card_24 .bot_grid .social_icons ul li a{
        font-size: 17px;
    }
}
