*{
    font-family: 'Times New Roman', Times, serif;
}
.card_19{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid rgb(199, 196, 196);
}
.card_19 img{
    width: 100%;
    height: 100%;
}
.card_19 .grid{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: row-reverse;
}
.card_19 .grid .details_grid{
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
}
.card_19 .grid .details_grid .g_inputs{
    position: absolute;
    top: 12%;
    right: 19%;
    text-align: right;
}
.card_19 .grid .details_grid .g_inputs ul{
    padding: 0px;
}
.card_19 .grid .details_grid .g_inputs ul li:first-child{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
.card_19 .grid .details_grid .g_inputs ul li:nth-child(2){
    font-size: 17px;
    letter-spacing: 2px;
}
.card_19 .grid .details_grid .slogan{
    position: absolute;
    top: 34%;
    right: 20%;
    text-align: right;
    width: 50%;
}
.card_19 .grid .details_grid .slogan::after{
    content: "";
    position: absolute;
    top: 28px;
    right: 0;
    width: 100%;
    height: 1.7px;
    background-color: rgba(0,0,0,.5);
}
.card_19 .grid   .client_data{
    position: absolute;
    top: 47%;
    right: 17.5%;
    width: 83%;
    direction: rtl;
}
.card_19 .grid   .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}
.card_19 .grid   .client_data .client_list{
    display: flex;
    width: 100%;
}
.card_19 .grid   .client_data .icon_list{
    flex: 0 0 5%;
    text-align: center;
    margin-left: 9px;
}

.card_19 .grid   .client_data .icon_list li{
    margin-bottom: 5px;
}
.card_19 .grid   .client_data .icon_list li img{
    width: 15px;
    height: 15px;
}
.card_19 .grid   .client_data .data_list{
    flex: 0 0 88%;
    max-width: 88%;
    margin-top: 0px;
    overflow-wrap: break-word;
}
.card_19 .grid   .client_data .data_list li{
    margin-bottom: 0px;
    height: 30px;
}

.card_19 .grid   .client_data .data_list a{
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(26, 26, 26);
    font-family: 'Roboto', sans-serif;
}
.card_19 .grid .details_grid .social_icons{
    position: absolute;
    top: 78%;
    right: 14%;
}
.card_19 .grid .details_grid .social_icons ul{
    padding: 0px;
}
.card_19 .grid .details_grid .social_icons ul li{
    display: inline-flex;
    margin-right: 17px;
}
.card_19 .grid .details_grid .social_icons ul li a{
    font-size: 19px;
    color: #E12C37;
}

.card_19 .grid .logo_grid{
    flex: 20%;

}
.card_19 .grid .logo_grid .logo{
    position: absolute;
    top: 38%;
    left: 17%;
    width: 22%;
    text-align: center;
}
.card_19 .grid .logo_grid .logo img{
    width: 80px;
    height: 90px;
}
@media (min-width:300px) and (max-width:445px){
    .card_19 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 21px;
    }
    .card_19 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 17px;
    }
    .card_19 .grid .details_grid .slogan{
        top: 33%;
        font-size: 15px;
    }
    .card_19 .grid .details_grid .slogan::after{
        top: 30px;
        width: 120px;
    }
    .card_19 .grid   .client_data .data_list a{
        font-size: 9.9px;
    }
    .card_19 .grid .details_grid .social_icons ul li{
        margin-right: 14px;
    }
    .card_19 .grid .details_grid .social_icons ul li a{
        font-size: 16px;
    }
    .card_19 .grid .logo_grid .logo img {
        width: 59px;
        height: 80px;
    }
}
@media (min-width:767px) and (max-width:1220px){
    .card_19 .grid .details_grid .g_inputs ul li:first-child{
        font-size: 21px;
    }
    .card_19 .grid .details_grid .g_inputs ul li:nth-child(2){
        font-size: 17px;
    }
    .card_19 .grid .details_grid .slogan{
        top: 33%;
        font-size: 15px;
    }
    .card_19 .grid .details_grid .slogan::after{
        top: 30px;
        width: 120px;
    }
    .card_19 .grid   .client_data .data_list a{
        font-size: 12px;
    }
    .card_19 .grid .details_grid .social_icons ul li{
        margin-right: 14px;
    }
    .card_19 .grid .details_grid .social_icons ul li a{
        font-size: 16px;
    }
    .card_19 .grid .logo_grid .logo img {
        width: 59px;
        height: 80px;
    }
}
