.card_5{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
    font-family: 'Tajawal', sans-serif;
  }
  .card_5 img{
    width: 100%;
    height: 100%;
  }
  .card_5 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
  }
  .card_5 .grid .left_grid{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
  }
  .card_5 .grid .left_grid .g_inputs{
    position: relative;
    top: 10%;
    right: 0%;
    text-align: center;
    width: 85%;
    overflow-wrap: break-word;
  }
  .card_5 .grid .left_grid .g_inputs ul{
    padding: 0px;
    margin-bottom: 0px;
  }
  .card_5 .grid .left_grid .g_inputs ul li:first-child{
    font-size: 28px;
    letter-spacing: .8px;
    font-weight: 500;
    color: #000000;
  }
  .card_5 .grid .left_grid .g_inputs ul li:nth-child(2){
    font-size: 18px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .card_5 .grid .left_grid .g_inputs::after{
    content: "";
    position: absolute;
    top: 115%;
    left: 15%;
    width: 70%;
    height: 1.7px;
    background-color: #f5979a;
  
  }
  .card_5 .grid .left_grid .slogan{
    position: absolute;
    top: 40%;
    right: 14%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    width: 85%;
    text-align: center;
    color: #231f20;
  }
  
  .card_5 .grid .left_grid .client_data{
    position: absolute;
    top: 53%;
    right: 8%;
    width: 97.5%;
    direction: rtl;
  }
  .card_5 .grid .left_grid .client_data ul{
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
  }
  .card_5 .grid .left_grid .client_data .client_list{
    display: flex;
    width: 100%;
  }
  .card_5 .grid .left_grid .client_data .icon_list{
    flex: 0 0 10%;
    text-align: center;
    margin-left: 5px;
  }
  .card_5 .grid .left_grid .client_data .icon_list li a{
    color: #ED1C24;
    font-size: 17px;
  }
  .card_5 .grid .left_grid .client_data .icon_list li{
    margin-bottom: 12px;
  }
  .card_5 .grid .left_grid .client_data .data_list{
    flex: 0 0 84%;
    max-width: 84%;
    margin-top: 1px;
    overflow-wrap: break-word;
  }
  .card_5 .grid .left_grid .client_data .data_list li{
    margin-bottom: 0px;
    height: 36px;
  }
  .card_5 .grid .left_grid .client_data .data_list a{
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
  
  .card_5 .grid .right_grid{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
  }
  .card_5 .grid .right_grid .logo{
    position: absolute;
    top: 10%;
    left: 0px;
    width: 56%;
    text-align: center;
  }
  .card_5 .grid .right_grid .logo img{
    width: 90px;
    height: 90px;
  }
  
  .card_5 .grid .right_grid .social_icons{
    position: absolute;
    left: 4%;
    bottom: 11%;
    text-align: left;
    width: 70%;
  }
  .card_5 .grid .right_grid .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
  }
  .card_5 .grid .right_grid .social_icons ul li{
      margin-bottom: 5px;
  }
  .card_5 .grid .right_grid .social_icons ul li a{
    font-size: 20px;
    margin-right: 10px;
    color:#ED1C24;
  }
  
  @media (min-width:290px) and (max-width:445px){
    .card_5 .grid .left_grid .g_inputs ul li:first-child{
      font-size: 18px;
    }
    .card_5 .grid .left_grid .g_inputs ul li:nth-child(2){
      font-size: 13px;
    }
    .card_5 .grid .left_grid .slogan{
      font-size: 10px;
      top: 35%;
    }
    .card_5 .grid .left_grid .client_data .icon_list li a{
      font-size: 14px;
    }
    .card_5 .grid .left_grid .client_data .data_list{
      margin-top: 0px;
    }
    .card_5 .grid .left_grid .client_data .data_list li{
      height: 34px;
    }
    .card_5 .grid .left_grid .client_data .data_list a{
      font-size: 9px;
    }
    .card_5 .grid .right_grid .logo img {
      width: 70px;
      height: 70px;
    }
    .card_5 .grid .right_grid .social_icons ul li a {
      font-size: 18px;
      margin-right: 6px;
    }
  }
  @media (min-width:441px) and (max-width:540px){
    .card_5 .grid .right_grid .social_icons ul li a{
      font-size: 20px;
      margin-right: 17px;
    }
  }
  @media (min-width:768px) and (max-width:890px){
    .card_5 .grid .left_grid .g_inputs ul li:first-child{
      font-size: 22px;
    }
    .card_5 .grid .left_grid .g_inputs ul li:nth-child(2){
      font-size: 16px;
    }
    .card_5 .grid .left_grid .slogan{
      font-size: 13px;
    }
    .card_5 .grid .left_grid .client_data .icon_list li a{
      font-size: 16px;
    }
    .card_5 .grid .left_grid .client_data .data_list li{
      height: 34px;
    }
    .card_5 .grid .left_grid .client_data .data_list a{
      font-size: 10px;
    }
    .card_5 .grid .right_grid .logo img {
      width: 80px;
      height: 80px;
    }
    .card_5 .grid .right_grid .social_icons ul li a {
      font-size: 19px;
      margin-right: 7px;
    }
  }

  @media (min-width:992px) and (max-width:1200px){
    .card_5 .grid .left_grid .g_inputs ul li:first-child{
      font-size: 19px;
    }
    .card_5 .grid .left_grid .g_inputs ul li:nth-child(2){
      font-size: 14px;
    }
    .card_5 .grid .left_grid .slogan{
      font-size: 12px;
    }
    .card_5 .grid .left_grid .client_data .icon_list li a{
      font-size: 14px;
    }
    .card_5 .grid .left_grid .client_data .data_list{
      margin-top: 0px;
    }
    .card_5 .grid .left_grid .client_data .data_list li{
      height: 34px;
    }
    .card_5 .grid .left_grid .client_data .data_list a{
      font-size: 9px;
    }
    .card_5 .grid .right_grid .logo img {
      width: 70px;
      height: 70px;
    }
    .card_5 .grid .right_grid .social_icons ul li a {
      font-size: 18px;
      margin-right: 6px;
    }
  }
  
  @media (min-width:1200px) and (max-width:1400px){
    .card_5 .grid .left_grid .g_inputs ul li:first-child{
      font-size: 22px;
    }
    .card_5 .grid .left_grid .g_inputs ul li:nth-child(2){
      font-size: 16px;
    }
    .card_5 .grid .left_grid .slogan{
      font-size: 13px;
    }
    .card_5 .grid .left_grid .client_data .icon_list li a{
      font-size: 16px;
    }
    .card_5 .grid .left_grid .client_data .data_list li{
      height: 34px;
    }
    .card_5 .grid .left_grid .client_data .data_list a{
      font-size: 10px;
    }
    .card_5 .grid .right_grid .logo img {
      width: 100px;
      height: 100px;
    }
    .card_5 .grid .right_grid .social_icons ul li a {
      font-size: 19px;
      margin-right: 7px;
    }
  }