
.card_28{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
}
.card_28 img{
    width: 100%;
    height: 100%;
}
.card_28 .grid{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
}
.card_28 .grid .left_part{
    flex: 0 0 65%;
    max-width: 65%;
    overflow-wrap: break-word;
}

.card_28 .grid .left_part .g_inputs{
    position: absolute;
    top: 16.5%;
    left: 5%;
}
.card_28 .grid .left_part .g_inputs ul{
    padding: 0px;
    text-align: left;
}
.card_28 .grid .left_part .g_inputs ul li:first-child{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
}
.card_28 .grid .left_part .g_inputs ul li:nth-child(2){
    font-size: 18px;
    color: #FBB11D;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.card_28 .client_details .client_list{
    display: flex;
    position: absolute;
    width: 55%;
    left: 2.5%;
    top: 45%;
}
.card_28 .client_details .client_list .icon_list{
    flex: 0 0 8%;
    padding: 0px;
    text-align: left;
}
.card_28 .client_details .client_list .icon_list img{
    width: 35px !important;
    height: 35px !important;
}
.card_28 .client_details .client_list .icon_list li{
    margin-bottom: 11px;
   margin-right: 4px;
}

.card_28 .client_details .client_list .icon_list i{
    font-size: 20px;
    color: #fff;
    padding-left: 7px;
}
.card_28 .client_details .client_list .data_list{
    flex: 0 0 82%;
    padding: 0px;
    text-align: left;
    margin-top: 3px;
}
.card_28 .client_details .client_list .data_list a{
    font-size: 14px;
    overflow-wrap: break-word;
    color: #FBB11D;;
}
.card_28 .client_details .client_list .data_list li{
    margin-bottom: 0px;
    height: 44px;
}
.card_28 .grid .right_part{
    flex: 0 0 34%;
    max-width: 34%;
}
.card_28 .grid .right_part .logo{
    position: absolute;
    top: 1%;
    right: 0%;
    width: 40%;
    text-align: center;
}
.card_28 .grid .right_part .logo img{
    width: 50% !important;
    height: 50% !important;
    margin: auto;
}
.card_28 .grid .right_part .slogan{
    position: absolute;
    top: 30%;
    right: 5px;
    width: 40%;
    text-align: center;
    color: #0D1F33;
    font-size: 15px;
    font-weight: bold;
}
.card_28 .grid .right_part .social_icons{
    position: absolute;
    bottom: 0%;
    right: 3%;
    width: 40%;
}
.card_28 .grid .right_part .social_icons ul{
    padding: 0px;
    margin-bottom: 0px;
}
.card_28 .grid .right_part .social_icons ul li{
    margin-bottom: 5px;
}
.card_28 .grid .right_part .social_icons ul li a {
    color: #0D1F33;
    font-size: 22px;
}
@media (min-width:250px) and (max-width:495px){
    .card_28 .grid .left_part .g_inputs ul li:first-child{
        font-size: 14px;
    }
    .card_28 .grid .left_part .g_inputs ul li:nth-child(2){
        font-size: 10px;
    }
    .card_28 .client_details .client_list .icon_list img {
        width: 26px !important;
        height: 30px !important;
    }
    .card_28 .client_details .client_list .icon_list i{
        font-size: 15px;
    }
    .card_28 .client_details .client_list .data_list{
        margin-top: -2px;
    }
    .card_28 .client_details .client_list .data_list a{
        font-size: 9px;
        margin-top: 0px;
    }
    .card_28 .client_details .client_list .data_list li{
        margin-bottom: 0px;
        height: 41.5px;
    }
    .card_28 .grid .right_part .slogan{
        font-size: 11px;
    }
    .card_28 .grid .right_part .social_icons ul li a{
        font-size: 14px;
    }
}
@media (min-width:560px) and (max-width:640px){
    .card_28 .grid .right_part .logo img{
        width: 36% !important;
        height: 36% !important;
    }
    .card_28 .grid .right_part .slogan{
        top: 30%;
    }
}
@media (min-width:640px) and (max-width:767px){
    .card_28 .grid .right_part .logo img{
        width: 33% !important;
        height: 33% !important;
    }
    .card_28 .grid .right_part .slogan{
        top: 32%;
    }
}
@media (min-width:767px) and (max-width:890px){
   
    .card_28 .grid .left_part .g_inputs ul li:first-child{
        font-size: 18px;
    }
    .card_28 .grid .left_part .g_inputs ul li:nth-child(2){
        font-size: 15px;
    }
    .card_28 .client_details .client_list .icon_list i{
        font-size: 15px;
    }
    .card_28 .client_details .client_list .data_list li{
        margin-bottom: 0px;
        height: 44px;
    }
    .card_28 .client_details .client_list .data_list a{
        font-size: 12px;
        margin-top: 0px;
    }
    .card_28 .grid .right_part .slogan{
        font-size: 13px;
    }
    .card_28 .grid .right_part .social_icons ul li a{
        font-size: 16px;
    }
}

@media (min-width:992px) and (max-width:1350px){
    .card_28 .grid .left_part .g_inputs ul li:first-child{
        font-size: 16px;
    }
    .card_28 .grid .left_part .g_inputs ul li:nth-child(2){
        font-size: 12px;
    }
    .card_28 .client_details .client_list .icon_list i{
        font-size: 15px;
    }
    .card_28 .client_details .client_list .icon_list img{
        width: 25px !important;
        height: 25px !important;
    }
    .card_28 .client_details .client_list .data_list{
        margin-top: 0px;
    }
    .card_28 .client_details .client_list .data_list li{
        margin-bottom: 0px;
        height: 38px;
    }
    .card_28 .client_details .client_list .data_list a{
        font-size: 12px;
    }
    .card_28 .grid .right_part .slogan{
        font-size: 11px;
    }
    .card_28 .grid .right_part .social_icons ul li a{
        font-size: 16px;
    }
}
@media (min-width:1705px) and (max-width:2100px){
    .card_28 .grid .right_part .logo img{
        width: 37% !important;
        height: 37% !important;
    }
    .card_28 .grid .right_part .slogan{
        top: 32%;
    }
}
@media (min-width:2100px) and (max-width:2700px){
    .card_28 .grid .right_part .logo img{
        width: 34% !important;
        height: 34% !important;
    }
    .card_28 .grid .right_part .slogan{
        top: 32%;
    }
}